@media screen and (max-width: 850px ) {
    .navbar-brand img{
        width: 100px;
    }
    .title h1{
        font-size: 100px;
    }
    .img-wrapper{
        width: 80%;
    }
    .desc{
        width: 100%;
        margin-top: 45%;
        align-items: flex-end;
        padding: 70px;
        clip-path: polygon(0% 15%, 15% 0%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 15% 100%, 0 85%);
    }
    .tab, .tab2{
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .home .title h1{
        font-size: 50px;
    }
    .vision-wrapper h1{
        font-size: 20px;
    }
    .about-wrapper p{
        font-size: 10px;
    }
    .desc{
        padding: 30px;
        height: auto;
    }
    #slide .desc h3{
        font-size: 20px;
    }
    #slide .desc p{
        font-size: 10px;
    }
    .offer1 a, .offer2 a{
        font-size: 15px;
    }
    .offer1, .offer2{
        margin-left: 25%;
    }
    .join-wrapper{
        margin: 20px;
    }
    .join{
        margin-right: 20%;
    }
    .join .title{
        height: 100%;
    }
    .join .title p{
        font-size: 13px;
    }
    .tab h6, .tab2 h6{
        font-size: 10px;
    }
    .title .p2 p{
        margin-top: 30px;
        font-size: 8px;
    }
    .tab p{
        font-size: 8px;
    }
}